@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap");

.card{
    width: 206px;
    height: 290px;
    border-radius: 20px;
    background-color: white;
    text-align: center;
}

.img{
    width: 195px;
    height: 150px;
    border-radius: 20px;
    margin: 5px 5px 0 4.2px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.nome{
    font-family: 'Urbanist', sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: black;
}

.descricao{
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: rgba(140, 0, 0, 0.85);
}

.tempo{
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: black;
}

.preco{
    font-family: 'Urbanist', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: black;
    text-align: right;
    margin-right: 9px;
    margin-top: 8px;
}