@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap");

.divGeralSecoes {
  display: flex;
  text-align: center;
}

.divSecoes {
  display: flex;
  text-align: center;
  flex-direction: column;
}

/* body{
    content: ' ';
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/imgs/fachadaRestheorante.png');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
} */

#div1 {
  background: rgba(0, 0, 0, 0.5);
  width: 180px;
  height: 140px;
}

#div2 {
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 180px;
  height: 100%;
}

.secoes {
  background-color: #666666;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 180px;
}

.nomeSecao {
  font-family: "Urbanist", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 17px;
  color: black;
  margin: 5%;
  padding-top: 12px;
  padding-bottom: 26px;
  border-bottom: 2px solid white;
  cursor: pointer;
}

.nomeSecao:hover {
  font-family: "Urbanist", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 17px;
  color: red;
  margin: 5%;
  padding-top: 12px;
  padding-bottom: 26px;
  border-bottom: 2px solid white;
  cursor: pointer;
}

#nomeSecao {
  font-family: "Urbanist", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 17px;
  color: black;
  margin: 5%;
  padding-top: 10px;
  padding-bottom: 12px;
  cursor: pointer;
}

#nomeSecao:hover {
  font-family: "Urbanist", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 17px;
  color: red;
  margin: 5%;
  padding-top: 10px;
  padding-bottom: 12px;
  cursor: pointer;
}

.linha {
  text-align: center;
  justify-content: center;
  border: 1px solid #ffffff;
  width: 80%;
}

.divSubSecoes{
  display: flex;
  gap: 30px;
  justify-content: center;
}

.secoesCards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
}
