.listaSubSecoes{
    margin-left: 20px;
    text-align: left;
}

.subSecoes {
    margin-top: 15px;
    margin-bottom: 60px;
    color: white;
    font-family: "Urbanist", sans-serif;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}
  
.subSecoes:hover {
    color: red;
}