@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');

.navbar{
    display: flex;
    flex-direction: row;
    background-color: black;
    /* position: fixed; */
    top: 0;
    left: 0;
    right: 0;
    padding-top: 1%;
    padding-left: 1%;
    padding-bottom: 1%;
}

#logo{
    width: 70px;
}

#tituloNav{
    font-family: 'Urbanist', sans-serif;
    font-size: 20px;
    margin-left: 1%;
    color: white;
    justify-content: center;
    margin-top: 22px;
}

.theo{
    color: red;
}

#linkCardapio{
    font-family: 'Urbanist', sans-serif;
    font-weight: bolder;
    font-size: 22px;
    position: absolute;
    right: 0;
    color: red;
    margin-right: 3%;
    margin-top: 22px;
}